.page {
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 300px;
    padding: 10px;
    height: auto;
    max-height: 485px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.nav-menu {
    list-style-type: none;
    padding-left: 0;
    
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f1fde1;
    color: #333;
    padding: 20px;
}

.blog-Main {
    background-color: #90d1bf;
    text-align: center;
    
    
}

h1 {
    padding-bottom: 20px;
    color: #333;
    text-shadow: 2px 2px grey;
}

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: wheat;
    
}

.menu {
    backdrop-filter: brightness(0.8);
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
}

.content {
    flex: 1;
    padding: 20px;
}

.nav-menu .menu:hover {
    background-color: #575757;
}

iframe {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 700px) {

    h1 {
        padding-bottom: 5%;
        color: #333;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .sidebar {
        width: 100%;
        height: fit-content;
    }

    .page {
        display: flex;
        flex-direction: column;
    }

    .menu, li {
        margin: 0;
       
    }
    
}