body {
    background-color: #f4f3ee;
    margin: 0;
    padding: 0;
}
.contact-Main {
    background-color: #61C888;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    color: #333;
    text-shadow: 2px 2px grey;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    padding: 0; 
    margin: 0;
}

.inner-container{
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    justify-content: center;
    align-items: center;
}

.inner-form{
    background-color: white;
    width: 50%;
    margin: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    height: 400px;
    box-shadow: 2px 2px 5px 2px grey;
}

.cnt-head{
    padding-left: 2%;
}

.cnt{
    width: 90%;
    height: 20px;
    margin: 0% 2% 2% 2%;
    border-radius: 5%; 
}
.txt{
    width: 90%;
    height: 50px;
    margin: 0% 2% 0% 2%;
}

.vl {
    border-left: 2px solid grey;
    height: 500px;
  }

  .btn{
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #62D3A6;
    color:black
}

.rg-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 700px) {

    .vl {
        border-left: white;
        height: 10px;
        margin-top: 3%;
      }
    
      .container{
        display: flex;
        flex-direction: column;
        justify-content: space-around; 
        align-items: center;
        padding: 0; 
        margin: 0;
    }

    .inner-container{
        align-items: center;
    }

    form2{
        margin-top: 2%;
    }
}

@media screen and (max-width: 604px) {

    .contact-Main {
        padding-bottom: 2%;
    }

    h1 {
        font-size: 16px;
    }

    iframe{
        width: 200px;
        height: 200px;
    }  
}
