body {
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif;
    margin: 0;
}

/* .home-Main h1{
    background-color: #ccdbdc;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    color: #333;
} */

.home-Main{
    background-color: #62D3A6;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    color: #333;
    margin-bottom: 5%;
}

