body{
    width: 100%;
    background-color: #f1fde1;
}


.Scholarship-Main{
    background-color:  #90d1bf;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    color: #333;
    text-shadow: 2px 2px grey;
}

form{
    background-color: white;   
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
   
}

.form-container {
    width: 70%; /* Adjust width to suit your needs */
    margin-left: auto;
    margin-right: auto;
    transform: translateX(20%); /* Move form slightly to the left */
}

input {
    padding: 5px 5px 5px 15px;
    font-size: 120%;
    
 
}

.btn{
    margin-left: 40%;
    margin-top: 5%;
    background-color: rgb(131, 194, 194);
    border: #555;

}

input{
    border-color:  rgb(131, 194, 194);
}

.errordiv{
    color: red;
}
.custom-modal{
    margin-top: 50%;
}